@charset "utf-8";
/* 
#EEE489 - Light Tan
#8D0D19 - Burgundy
#1A446C - Blue Grey
#D4E6F4 - Very Light Blue
#689DC1 - Light Blue
*
{
	margin: 0px;
	padding: 0px;

}

*/
body
{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 15px;
	background: #EEE489;
}
img
{
	border: none;
}
a
{
	color: #8D0D19;
}
a:hover
{
	color: #1A446C;
}
#header
{
	height: 70px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	background: #1A446C;
	color: #D4E6F4;
	width: 100%;
	position: relative;
	float: left;
}
#header h1
{
	padding: 1em;
	margin: 0px;
}
#main
{
	height: 600px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: #EEE4899;
	position: relative;
}
#footer
{
	clear: both;
	height: 2em;
	margin: 0px;
	padding: 1em;
	text-align: center;
	background: #1A446C;
	color: #D4E6F4;
}
/* Navigation */
#navigation
{
	float: left;
	width: 150px;
	height: 100%;
	margin: 0px;
	color: #D4E6F4;
	background: #8D0D19;
	padding-top: 0px;
	padding-right: 2em;
	padding-bottom: 0px;
	padding-left: 2em;
	position: relative;
}
#navigation a
{
	color: #D4E6F4;
	text-decoration: none;
}
#navigation a:hover
{
	color: #FFFFFF;
}
ul.subjects
{
	margin: 1em 0px;
	padding-left: 0px;
	list-style: none;
}
ul.pages
{
	padding-left: 2em;
	list-style: square;
	font-weight: normal;
}
.selected
{
	font-weight: bold;
}
/* Page Content */
#page
{
	float: left;
	height: 100%;
	padding-left: 2em;
	vertical-align: top;
	background: #EEE489;
	/*position: relative; */
}
#page h2
{
	color: #8D0D19;
	margin-top: 1em;
}
#page h3
{
	color: #8D0D19;
}
.view-content
{
	margin: 1em;
	padding: 1em;
	border: 1px solid #999999;
}
div.message
{
	border: 2px solid #8D0D19;
	color: #8D0D19;
	font-weight: bold;
	margin: 1em 0px;
	padding: 1em;
}
.error
{
	color: #8D0D19;
	border: 2px solid #8D0D19;
	margin = 1em 0px;
	padding = 1em;
}
.error ul
{
	padding-left: 2em;
}